################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServiceMarketplace/FileContentIndex/9a3f3189-4b04-40c6-890b-9f2efcc26ec8.vsidx
